body {
  background-color: rgb(70, 3, 70);
  color: blanchedalmond;
}

#results, #no-results {
  display: none;
  margin-top: 10vh;
}

#keyword-suggestions {
  width: 500px;
  height: 20vh;
  overflow: auto;
  display: none;
}
.tag-btn-x {
  color: pink;
  font-weight: bold;
}

 .col {
  background-color:rgb(70, 3, 70);
} 

.card {
  color: darkslategray;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  min-height: 20vh;
}

.card-body {
  width: 100%;
  background-color:white;
  min-height: 100%;
}

.carousel-item {
  width: 80%;
  position: relative;
  left: 10%;
}

#no-styles {
  text-align: center;
  font-size: 40px;
}