@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#093485,#000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  --card-height: 50vh;
}

h1 {
  font-family: 'Limelight', cursive;
  font-size: 4rem;
  text-align: center;
  margin: 2vh 0 1vh 0;
}

h4 {
  text-align: center;
  color: white;
  margin-bottom: 3vh;
}

.plus {
  font-size: 1.5rem;
}

label {
  display: block;
}

.submit-button-area {
  padding: 2vh 2vh 2vh 0vh;
  text-align: left;
}

.tag-btn-x {
  font-size: 1.2em;
  color: #CE6C47;
}

.btn {
  display: inline-block;
  margin: 0 0 0.23vh 0;
  padding: 0 9px;

}

.btn-danger{
  background-color: #CE6C47;
  border: 1px black solid;
  color: white
}

.btn-danger:hover{
  background-color: #960200;
  border: 1px solid white;
  color: white;
}

.tag-btn {
  border-radius: 1.5em;
  padding: 0 .5em;
}

.btn-float-right{
  float:right;
}

#movie-carousel {
  margin-bottom: 100px;
}

.carousel-control-next, .carousel-control-prev{ 
  width: 10%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#reset, #submit{
  font-weight:bold;
  padding:.25em .75em;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
  height: var(--card-height);
  overflow: auto;
}

.movie-poster {
  max-width: 100%;
  max-height: calc(var(--card-height) *.96);
}

#results {
  display: none;
  margin-top: 4vh;
}

#no-results {
  display: none;
  font-family: 'Limelight', cursive;
  margin-top: 15vh;
}

#keyword-suggestions {
  max-height: 20vh;
  overflow: auto;
  display: none;
  max-width: 70%;
}

.card {
  background-color: transparent;
  color: darkslategray;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  min-height: var(--card-height);
}

.card-body {
  color: white;
  width: 100%;
  background-color:black;
  min-height: var(--card-height);
  padding: calc(var(--card-height) *.02);
}

.carousel-item {
  width: 80%;
  position: relative;
  left: 10%;
}

.tag-div{
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 1em;
  min-height: 20vh;
  padding: calc(0.375rem + 1px) 1em;
}

#no-styles {
  text-align: center;
  font-size: 40px;
}

#movie-form {
  display: inline-block;
  padding: 0;
  width: 100%;
}

#movie-form input, #movie-form select {
  width: 70%;
  display:inline;
}

input.form-check-input {
  padding: 0 6px;
}
